@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
    
    .header-logo {
        margin-right: auto;
    }

    .mobile-menu-tel {
        font-size: 35px;
    }

    .menu-soc-list {
        gap: 64px;
    }

    .modal{
        min-width: 392px;
    }

    .text-conditions {
        font-size: 12px;
    }

    .customers-icon-item {
        width: 190px;
    }


}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
        background-image: var(--background-gradient),
        url('../images/MobailBackground2x.jpg');
  }

}
