@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    /**-----------HEADER-------------**/
    .header-main {
        display: flex;
    }

    .header-nav {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .header-logo {
        margin-right: 120px;
    }

    .menu-btn {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: var(--transition);
        color: var(--color-header-link);
    }

    .header-link.current {
        color: var(--selection-header);
    }
      
    .current::after {
        position: absolute; 
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        top: 57px;
        left: 0;
        bottom: 0;
        background-color: var(--selection-header);
        border-radius: 2px;
    }
      
    .header-link:hover, 
    .header-link:focus {
        color:var(--selection-header);
    }

    .address-list {
        display: block;
    }

    .contacts {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: var(--transition);
        color: var(--color-contacts);
    }

    .contacts:hover,
    .contacts:focus {
        color: var(--selection-header);
    }

    /**-----------HERO-------------**/

    .hero {
        background-image: var(--background-gradient),
        url(../images/TabletBackground.jpg);
        background-size: 768px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: var(--background-gradient),
            url('../images/TabletBackground2x.jpg');
        }
    }

    .title {
        margin-bottom: 40px;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .button-hero:hover,
    .button-hero:focus {
      background-color: var(--selection-bttn-hero);
    }

    /**-----------MODAL-------------**/

    .modal {
        top: 50%;
        left: 50%;
    }

    /**-----------INFO-------------**/

    .info-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .item-info {
        flex-basis: calc((100% - 24px) / 2);
    }

    .info-caption {
        text-align: start;
    }
    
    /**-----------TEAM-------------**/

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        align-items: center;
        justify-content: center
    }

    .team-list {
        flex-basis: calc((100% - 24px) / 2);
    }

    /**-----------CUSTOMERS-------------**/  

    .customers-icon-item {
        width: 168px;
    }

    .customers-list {
        column-gap: 24px;
    }

    /**-----------PORTFOLIO-------------**/ 

    .list-button {
        justify-content: center;
    }

    .list-card {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .row-cards {
        width: calc((100% - 24px) / 2);
        transition: var(--transition); 
    }

    /**-----------FOOTER-------------**/ 

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        align-items: flex-start;
        padding-left: 60px;
    }

    .logo-footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-section {
        margin-bottom: 0;
      }
      .footer-social-media {
        margin-bottom: 0;
      }

    .footer-title {
        justify-content: flex-start
    }

    .footer-form {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: auto;
    }


}